# Code formatter which removes all original styling by parsing
# it away and reprinting the parsed AST with its own rules.
# © Prettier <https://prettier.io>

# LF (\n) to apply as end of line.
endOfLine: lf

# The line length used to wrap on.
printWidth: 120

# Use single quotes instead of double quotes.
singleQuote: true
